@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    margin: 0 !important;
    background-image:url('img/women.jpg');
    background-size: cover;
    font-family: 'Jura', sans-serif;
}

p {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

#header {
    min-height:120px;
    background: #aabbcc;
    opacity:0.97;
}

#logo {
    margin-left:10%;
    color:#efefef;
    text-transform: capitalize;
    font-size:34px;
    padding-top:30px;
    font-family: 'Jura', sans-serif;
    float:left;
}
nav {
    margin-right:6%;
    font-size:16px;
    color: #efefef;
    float:left;
    margin-left:26%;
}

nav ul {
    padding-top: 20px;
}

nav > ul > li {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    min-width:130px;
    text-align:center;
    padding:3px;
}
nav > ul > li:hover {
    color:#fff;
    background-color:#bbccdd;
    padding:3px;
    cursor:pointer;
}
.main {
   width:100%;
   margin:0; 
}

.section_1 {
    font-family: 'Jura', sans-serif;
    margin-top: 0 !important;
    background: rgba(65, 106, 177, 0.9);
    padding:5px 0 5px 0;
}
.section_1 > .header {
    text-align:center;
    height:55px;
    font-size:30px;
    color:#fff;
}

.header {
    max-height: 55px;
}

.section_1 > p {
    color:#fff;
    font-size:20px;
    margin-top:0;
    padding-left:5px;
    padding-right:5px;
    text-align:justify;
    padding-bottom:5px;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
}

.section_2 {
    background-color: rgba(36, 64, 111, 0.98);
    min-height:300px;
    margin-bottom:0 !important;
    padding: 60px 0;
}

#con-r {
    height:200px;
    margin:10px 0;
    width:200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    line-height: 320px;

    animation: spinninDo3 7s infinite alternate;
}


#con-r .wall {
    transform: rotateY(90deg);
    background-size: cover;
    height:100%;
    width:100%;
    position: absolute;
    overflow: hidden;
    opacity:0.8;
    backface-visibility: hidden;
}

#con-r .front {
    background: url('img/5.jpg');
    transform: translateZ(100px);
}

#con-r .up {
    background: url('img/1.jpg');
    transform: rotateX(90deg) translateZ(100px);
}

#con-r .down {
    background: url('img/6.jpg');
    transform: rotateX(-90deg) translateZ(100px);
}

#con-r .back {
    background: url('img/3.jpg');
    transform: rotateY(180deg) translateZ(100px);

}

#con-r .left {
    background: url('img/2.jpg');
    transform: rotateY(-90deg) translateZ(100px);
}

#con-r .right {
    background: url('img/4.jpg');
    transform: rotateY(90deg) translateZ(100px);
}

@keyframes spinninDo3 {
    from
    {
    }
    to {
        transform: rotateY(360deg) rotateX(360deg);
    }
}

.section_3 {
    font-family: 'Jura', sans-serif;
    padding:8px 0 5px 0;
    background: rgba(62, 72, 91, 0.9);
    padding-top: 30px;
}

.section_3_header {
    text-align:center;
    color:#fff;
    text-shadow: #aabbcc;
    font-size:30px;
}

.section_1 > .header {
    text-align:center;
    height:55px;
    font-size:30px;
    color:#fff;
}

.section_3 > p {
    
    color:#fff;
    font-size: 22px;
    text-align: center;
}

.section_3 ul {
    padding: 0 5px 0 5px;
    color:#fff;
    margin-left:40px;
    margin-top:10px;
}

.section_3 ul > li {
    font-size:18px;
    margin-bottom: 5px;
    letter-spacing: .1em;
}

.section_4 {
    min-height:180px;
    width:100%;
    background-color: #56abb0;
    opacity:0.95;
}

.header_contact {
    text-align:center;
    font-size:24px;
    padding-top:8px;
    color:#fff;

}

#links_container {
    width:94%;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}

#links_container > .link {
    width:24.9%;
    float:left;
    height:180px;
    text-align:center;
    font-family: "entypo-fontello";
}

#links_container > .link:hover {
    background-color: #67bcc1;   
    cursor: pointer;
}

#links_container > .link:first-of-type {
    border: none;
}

.fb {
    font-size: 20px;
    text-align: center;
    line-height: 180px;
}

.in {
    font-size: 20px;
    text-align: center;
    line-height: 180px;
}

.ig {
    font-size: 20px;
    text-align: center;
    line-height: 180px;
}

.mail {
    font-size: 20px;
    text-align: center;
    line-height: 180px;
}

#stopka {
    background-color: #3f2084;
    opacity:0.95;
    min-height:70px;
    width:100%;

}

#stopka p{
    text-align: center;
    color:#efefef;
    line-height: 70px;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}